<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Watermelon's Communication Archives</title>

<body>
  <div class="container">
    <header>
      <h1>Watermelon's Communication Archives</h1>
      <nav>
        <ul class="nav navbar-nav">
          {% for path, label in bag('main-nav').items() %}
          <li{% if this._path==path %} class="active" {% endif %}><a href="{{ path|url }}">{{ label }}</a></li>
            {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="page">
      {% block body %}{% endblock %}
    </div>
    <footer>
      &copy; Copyright 2025 by Yida & Watermelon.
    </footer>
  </div>
</body>